extends common/layout
block layout-content
    .about-content 
        h1.heading About Us
        .about-description 
            p Welcome to Nutrimatch, your go-to destination for nutritious and delicious recipes! We promote healthy living through carefully curated dishes that cater to all tastes and dietary needs.

            p Our mission is to help you make healthier choices while enjoying tasty meals. Whether you're a novice or an experienced cook, our platform provides the inspiration and tools to create nourishing dishes.

            p Nutrimatch stands out with recipes crafted by nutritionists and culinary experts, ensuring they are both flavorful and nutrient-rich.

            p More than a recipe app, Nutrimatch is a community of health-conscious individuals. Join us to explore new flavors, improve your cooking skills, and celebrate the joy of healthy eating.

            p Looking for meal ideas, expanding your cooking repertoire, or trying something new? Nutrimatch has you covered. Start your journey to wellness with us today.

            p Thank you for choosing Nutrimatch. Here's to a healthier, happier you, one delicious recipe at a time!
