doctype html 
html    
    head 
        meta(charset ="utf-8")
        title #{title}
        link(rel="stylesheet", type="text/css",href="/css/styles.css") 
        link(rel="stylesheet",href="https://unpkg.com/swiper/swiper-bundle.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        block scripts 
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js")
            script(src="/js/common.js")
            
    body.background0.main-container 
        header#header.site-header 
        main#main 
            block layout-content
            .avatar-popup#avatar-popup(style="display: none;")
                p Select an avatar that suits you best!
                each avatar in avatars
                    img(src=`../avatar/${avatar}`, alt="Avatar", class="avatar-option", data-filename=avatar).avatar-option
                .button-container
                    button.select Select
        footer#footer 
            p &copy; Copyright nutricuisine, 2024.
    